<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travel Blog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets-error/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets-error/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets-error/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets-error/css/ie8.css" /><![endif]-->

    <script src="assets-error/js/jquery.min.js"></script>
</head>
<body>
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <br />
            <hr />
            <hr />
            <a href="main" class="logo">
                <span class="symbol">
                    <img src="images/images-main/logo.svg" alt="" />
                </span><span class="title">Travel Blog</span>
            </a>
        </div>
    </header>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <header>
                <h1>Ooops... Something went wrong,<br /></h1>
                <br />
                <p>Please try that again or refresh page, otherwise <strong>CLICK</strong> on the <strong>LOGO</strong> on the top op the page.  </p>
            </header>
            <hr />
            <hr />
        </div>
    </div>
</div>

</body>
</html>