<!DOCTYPE HTML>
<html>
	<head>
		<title>Travel Blog</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets-home/css/video.css" />
		<link rel="stylesheet" href="assets-home/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets-home/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="assets-home/css/noscript.css" /></noscript>
	</head>

	<body>

	<!-- Video Background -->
	<video playsinline autoplay muted loop id="bgVideo" poster="images/images-home/overlay2.jpg">
		<source src="images/images-home/20170824_131814.mp4" type="video/mp4">
	</video>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<!--<span class="icon fa-diamond"></span>-->
						</div>
						<div class="content">
							<div class="inner">
								<h1>Travel Blog</h1>
								<p>bla bla bla bla bla TRAVEL</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#intro">Intro</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Intro -->
							<article id="intro">
								<h2 class="major">Intro</h2>
								<span class="image main"><img src="images/images-home/pic01.jpg" alt="" /></span>
								<p>
									Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. By the way, check out my.
								</p>

								<form action="main">
									<button type="submit" value="Travel">TRAVEL</button>
								</form>

							</article>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Travel Blog - 2017</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="assets-home/js/jquery.min.js"></script>
			<script src="assets-home/js/skel.min.js"></script>
			<script src="assets-home/js/util.js"></script>
			<script src="assets-home/js/main.js"></script>

	</body>
</html>
