body {
    margin: 0;
    background: #000;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url("../../images/images-home/overlay2.jpg") no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

@media only screen and (max-width: 768px) {
    video {
        display:none;
    }
    #bg:after {
        background-image:url("../../images/images-home/overlay2.jpg");
    }
}

@media screen and (max-width: 500px) {
    div{width:100%;}
}

@media screen and (max-device-width: 800px) {
    html { background: url("../../images/images-home/overlay2.jpg") #000 no-repeat center center fixed; }
    #bgvid { display: none; }
}